.git
.github
.idea
.vscode
android
data
docs
music
**/*.md
**/*.db
**/*.db-shm
**/*.db-wal
**/.env
**/.env.*
server/bin
server/data
server/velin-server
server/*.test
coverage.out
captures
*.swp
.DS_Store
